body {
  background: #97d4d6;
}

.App {
  max-width: 600px;
  margin: 30px auto;
}

.App footer {
  font-size: 13px;
  margin: 10px 0;
  padding-top: 5px;
  text-align:center; 
}

.App footer a{
  color: #bee72a;
}


